<h2>Profile page of {{userList.username}}, who played {{userList.tables_played}} tables.</h2>
<div>
  <div>
    <p>{{userList.username}}'s email: {{userList.email}}</p>
  </div>

  <div>
    <a href="/profile/edit">Edit this profile</a>
    <a href="/profile/delete">Delete profile</a>
  </div>

  <div class="profilepicture">
    <img src="{{userList.profilepicture}}" alt="">
  </div>
</div>