<h3>Hello {{userList.username}}, you can edit your profile here.</h3>

<div class="form-group">

  <form action=" /profile/{{userList._id}}" method="POST">

    <input type="text" value="{{userList.username}}" name="username" id="username">
    <p><label for="username">Username</label></p>


    <input type="text" value="{{userList.email}}" name="email" id="email">
    <p> <label for="email">Email</label></p>


    <input type="text" value="{{userList.profilepicture}}" name="profilepicture" id="profilepicture">
    <p> <label for="profilepicture">Profile picture URL</label></p>


    <input type="text" value="{{userList.tables_played}}" name="tables_played" id="tables_played">
    <p> <label for="tables_played">Tables played</label></p>

    <button type="submit">Save changes</button>
</div>