<h2>Profile page</h2>

<div class="profilepicture">
  <img src="{{userList.profilepicture}}" alt="">
</div>

<h3>Username: {{userList.username}}</h3>
<p>Email: {{userList.email}}</p>
<p>Tables played: {{userList.tables_played}}</p>

<a href="/profile/edit">Edit profile</a>
<a href="/profile/{{userList._id}}/delete">Delete profile</a>