<div class="tableDetails-container">
  <div>
    <h3>Table details</h3>
  </div>


  <div>
    <div>
      <ul>
        <li>Location: {{table.location}}</li>
        <li>Neighbourhood: {{table.neighbourhood}}</li>
        <li>Description: {{table.description}}</li>

        {{#if table.occupied}}
        <li>Table is currently occupied</li>
        {{else}}
        <li>Table is currently free</li>
        {{/if}}

        {{#if table.public}}
        <li>Publicly accessible</li>
        {{else}}
        <li>Not publicly accessible</li>
        {{/if}}

        {{#if table.park}}
        <li>Located in a park</li>
        {{/if}}

        {{#if table.playground}}
        <li>Located on a playground</li>
        {{/if}}

        {{#if table.indoor}}
        <li>Located indoors</li>
        {{/if}}

        {{#if table.bar}}
        <li>Located in a bar</li>
        {{/if}}

        {{#if table.light}}
        <li>Lights available</li>
        {{/if}}

        <li>General condition (1 = poor, 5 = great): {{table.condition}}</li>
        <li>Last update: {{table.last_update}}</li>
      </ul>
    </div>

    <div>
      <a href="/tables/edit/{{table._id}}"><button class="btn btn-dark" type="submit">Edit this table</button></a>
      {{!-- <a href="/tables/delete/{{table._id}}">Delete this table</a> --}}
    </div>

    <div class="table-image">
      <img src="{{table.table_image}}" alt="Image of ping pong table">
    </div>


  </div>

  <div>
    <h3>Comments:</h3>
  </div>
</div>